body{
  color: GhostWhite;
  background: GhostWhite;
}


	


#main{
  height: 700px;
  background: BurlyWood;
  padding-top: 30px;
  color: white;
}

header.container {
  height: 100px;
  width: 100px;
}

.space {
  margin-top: 30px;
}

img {
  width: 100%;
}